In [7]:
import numpy as np
import pandas as pd

In [8]:
outside = "G1 G1 G1 G2 G2 G2".split()
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [10]:
df = pd.DataFrame(np.random.randn(6,2),hier_index,['A','B'])

In [11]:
df

             A         B
G1 1  1.646289  0.375988
   2  0.018959  0.101775
   3  1.497977 -1.049785
G2 1 -1.174875  1.084780
   2  1.082063  0.423809
   3 -0.153089 -1.290540

In [17]:
df.loc['G1'].loc[1]['A']

1.6462889041793738

In [19]:
df.index.names = ['Group','Num']

In [20]:
df

                  A         B
Group Num
G1    1    1.646289  0.375988
      2    0.018959  0.101775
      3    1.497977 -1.049785
G2    1   -1.174875  1.084780
      2    1.082063  0.423809
      3   -0.153089 -1.290540

In [21]:
df.loc['G2'].loc[2]['A']
#Get a specific number from dataframe

1.0820628264544825

In [23]:
df.xs(2,level="Num")
#Cross section function

              A         B
Group
G1     0.018959  0.101775
G2     1.082063  0.423809